/target
/config.toml
device.json
session.token
qrcode.png
/qsign/*.jar
/qsign/*.zip
/qsign/*.tmp.*
/qsign/.runtime/
/qsign/bin/
/qsign/lib/
/qsign/source.env
/qsign/txlib/
/unidbg-fetch-qsign-*.zip
/qsign/logs/
/napcat/NapCat.Shell.zip
/napcat/*.tmp.*
/loadNapCat.js
/napcat/config/
/napcat/static/
/napcat/native/
/napcat/node_modules/
/napcat/*.mjs
/napcat/loadNapCat.js
/napcat/conout-*.js
/napcat/package.json
/napcat/qqnt.json
/napcat/worker/
/napcat/*.exe
/napcat/*.dll
/napcat/*.bat
/napcat/launcher.cpp
/napcat/libnapcat_launcher.so
/sent_daily.json
/sent_daily_test_*.json
/guild1.db*
